/* Reset CSS avec rem */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');  
@import url(../asset/package/style.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-size: 62.5%; /* 1rem = 10px, facilite les calculs (10px/16px = 62.5%) */
    scroll-behavior: smooth;
    block-size: border-box;
}


h1, h2, h3, h4, h5, h6, p, ol, ul, figure, blockquote, dl, dd {
    margin: 0;
    padding: 0;
}

body {
    font: 1.6rem "Poppins", sans-serif;
    line-height: 1.6;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #E5E5E5;
}

main{
    flex: 1;
}

ol, ul {
    list-style: none;
}

img{
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: inherit;
}

body{
  background-color: #673DE6;
}

header{
  position: relative;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1{
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 1rem;
  color: #ffff;
}
header h1 span{
  font-weight: 800;
}
header nav{
  position: absolute;
  right: 2rem;
}
header nav ul{
  display: flex;
  align-items: center;
  gap: 2rem;
}
header li a{
  color: #ffff;
  transition: ease-in-out .3s;
}
header li a:hover{
  color: #631A86;
  transition: ease-in-out .3s;
}
header li a::after{
  position: relative;
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: #631A86;
  transform: scale(0);
  transition: transform .3s ease-in-out;
}
header li a:hover::after{
  transform: scale(1);
}

/*Section principale*/
section{
  position: relative;
}
section .cercle1{
  position: fixed;
  width: 8rem;
  height: 8rem;
  left: -3%;
  top: 60%;
  border: solid 2rem #631A86;
  border-radius: 50%;
}
section .cercle2{
  position: fixed;
  width: 25rem;
  height: 25rem;
  right: -10%;
  top: 20%;
  background-color: #631A86;
  border-radius: 50%;
}
section .bar1{
  width: 20rem;
  height: 3rem;
  position: fixed;
  right: -2%;
  top: 70%;
  background-color: #AF95FD;
  border-radius: 2px;
}
section .bar2{
  width: 10rem;
  height: 3rem;
  position: fixed;
  right: -2%;
  top: 62%;
  background-color: #AF95FD;
  border-radius: 2px;
}

section .info-loic{
  position: fixed;
  width: 70rem;
  top: 23%;
  left: 15%;
}

section h2{
  color: #ffff;
  font-size: 5rem;
  padding-bottom: 2rem;
}
section p{
  color: #ffff;
}

section button{
  margin-top: 2rem;
  background-color: #FC5185;
  color: #fff;
  padding: 1.5rem;
  width: 20rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: ease-in-out .3s;
}
section button:hover{
  background-color: #631A86;
  transition: ease-in-out .3s;
}
section .icons{
  display: flex;
  gap: 4rem;
  margin-top: 2rem;
}
section .icons img{
  width: 40px;
  opacity: .8;
  transition: ease-in-out .3s;
}
section .icons img:hover{
  transform: scale(1.1);
  opacity: 1;
  transition: ease-in-out .3s;
}

footer{
  text-align: center;
  color: #ffff;
  padding: 1rem;
}